h1{
                font-size: 100px;
                text-align: center; 
                color: snow;
}
            
               .contmeleft {
                    border-radius:8px; /* скругляем края блока*/
                    width: 1000px; /* общая ширина блока*/
                    border: 1px solid #d9d9d9; /* рамка блока*/
                    overflow: hidden; /* скрывает возможность появления прокрутки блока. */
}
                .contmeleft p{
                 display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 40px;
    color: azure;
}
                 .contmeleft video {
                    width: 400px; /* ширина картинки 140 */
                    height: 800px; /* Bысота картинки, от неё будет зависеть и размер общего блока */
                    object-fit: cover; /* обрезаем края картинки, если они не вместятся в блок */
                    object-position: 0 70; /* тоже обрезка краев */
                    margin-right: 10px;
                    float: left; /* важный момент. с помощью этого знаения, мы показывем браузеру, что блок должен соприкасаться со вторым блоком приемущественно с левой стороны */
                    }
                body {
                        background-color: #CC99CC;
                }

#Asnar{
    display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 25px;
    color: azure;
}
#mama{
    display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 35px;
    color: azure;
}
#papa{
    display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 25px;
    color: azure;
}
#Madina{
        display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 25px;
    color: azure;
}
#Murat{
        display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 25px;
    color: azure;
}
#Kabachok{
      display: flex; /* Активирует Flexbox для контейнера */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    gap: 20px; /* Добавляет промежуток между изображением и текстом */
    font-size: 30px;
    color: azure;
}
html {
  scroll-behavior: smooth;
}
audio {
    min-width: 250px; /* Подберите оптимальное значение */
    display: block; /* Может помочь с отображением */
}







